<!DOCTYPE html>
<html>
<head>
    <title> Live video stream </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        div {
            width: 800px;
            height: 300px;
            padding: 20px;
            border: 8px solid red;

        }

        #cctv1 {
            box-sizing: content-box;
            background: yellow;
        }

        #cctv2 {
            box-sizing: content-box;
            background: yellow;
        }

    </style>
</head>
<body>
<h1>
    <center>user name : {{ user.username }}님</center>
</h1>
<center>
    <h1> Live CCTV Video Streaming </h1>
    <div id="cctv1"><a href="cctv1" target="_blank">1번 CCTV</a></div>
    <br>
    <br>
    <div id="cctv2"><a href="cctv2" target="_blank">2번 CCTV</a></div>
</center>
</body>
</html>
<script>
    function alarm(){
        var returnValue = confirm('fall down 발견');
        if(returnValue){
        $("#cctv1").css("background", "yellow");
        }
    }

    setInterval(function () {
        $.ajax({
            url: '/cctv/ajax/',
            type: "POST",
            dataType: "json",
            data: {'send_data': 'normal message'},
            success: function (data) {
                console.log(data);
                if (data['send_data'] == "1") {
                    $("#cctv1").css("background", "red");
                    setTimeout(alarm,100);
                }
            }
        })
    }, 1000);

</script>
